<%= form_for @loan, url: create_loan_path(session[:id],@oba.id) do |f| %>
  <%= f.select(:category,%w(Auto School House Personal)) %>
  
  <%= f.label :amount, "Amount"%>
  <%= f.text_field :amount %>
  
  <%= f.label "Loan Length (in months)"%>
  <%= f.select(:maturity_months,[12,24,36,48,120]) %>
  <%= f.submit %>
<% end %>
<h1>test</h1>
