<%# oba: OnlineBankingAccount %>
<h2><%= @oba.bank.name %></h2>
<h3>Accounts: </h3>
<ul>
  <% [@checking,@savings].each do |acct|%>
    <% if acct %>
      <li><%=acct.category.upcase%>
        <ul>
          <li>Account Number: <%=acct.account_number%></li>
          <li><%=%></li>
          <li><%=%></li>
          <li><%=%></li>
          <li><%=%></li>
        </ul>
      </li>

    <% end %>
  <% end %>
</ul>

<ul>
  <li>
    <%# if there is a checking account, show some data, else link to create a new one %>
    <% if @checking %>
      <ul>
        <li><%=@checking.accout%></li>
      </ul>
    <% else %>
       <%= link_to "Open A Checking Account", new_checking_path(@oba.user,@oba)%>
    <% end %>
  </li>
  <li>
   <%# if there is a savings account, show some data, else link to create a new one %>
    <% if @savings %>
      <p>do some stuff for savings</p>
    <% else %>
      <%= link_to "Open A Savings Account", new_savings_path(@oba.user,@oba)%>
    <% end %>
  </li>
</ul>

<ul>
  <% if @loans %>
    <% @loans.each do |loan|%>
      <li><%= loan.category %>
        <ul>
          <li>Amount: <%=loan.amount%></li>
          <li>Term Length: <%=loan.maturity_months%> months</li>
          <li>Interest Rate: <%=loan.interest_rate %>%</li>
          <li>Opened: <%=loan.created_at%></li>
          <li>Balance: </li>
        </ul>
      </li>
    <%end%>
  <% end %>
  <li><%= link_to "Apply For a New Loan", new_loan_path(session[:id],@oba)%></li>
</ul>
 
  