<%# oba: OnlineBankingAccount %>
<h2><%= @oba.bank.name %></h2>
<h3>Accounts: </h3>
<ul>
  <% @accounts.each do |acct|%>
    <li><%=acct.category.upcase%>
      <ul>
        <li>Status: <%=acct.status%></li>
        <li>Account Number: <%=acct.account_number%></li>
        <li>Routing Number: <%=acct.routing_number%></li>
        <li>Balance: <%=acct.balance_to_s%></li>
        <li>Opened On: <%=acct.created_at%></li>
      </ul>
    </li>
  <% end %>
</ul>

<ul>
    <% if !@accounts[0] %>   
     <li><%= link_to "Open A Checking Account", new_checking_path(@oba.user,@oba)%></li>
    <% end %>
    <% if !@accounts[1] %>      
      <li>   <%= link_to "Open A Savings Account", new_savings_path(@oba.user,@oba)%></li>
    <% end %>
</ul>

<h3>Loans:</h3>
<% if @loans %>
  <ul>
    <% @loans.each do |loan|%>
      <li><%= loan.category %>        
        <ul>
          <li>Status: <%=loan.status%></li>
          <% if loan.status.downcase == "closed" %>
            <li>Closed Date: <%=loan.closed_date %></li>
          <% end %>
          <li>Amount: <%=loan.amount%></li>
          <li>Term Length: <%=loan.maturity_months%> months</li>
          <li>Interest Rate: <%=loan.interest_rate %>%</li>
          <li>Opened: <%=loan.created_at%></li>
          <li>Balance: <%=loan.balance_to_s %></li>
          <li><%=link_to "Make Payment", new_loan_payment_path(session[:user_id],loan.id)%></li> 
        </ul>     
    <%end%>   
  </ul>
<% end %>
  <% if @accounts[0] %>  
    <h3><%= link_to "Apply For a New Loan", new_loan_path(session[:user_id],@oba)%></h3>
  <% else %>
    <h3>Open a checking account to become eligible to apply for a loan.</h3>
  <% end %>
 
  