<%# oba: OnlineBankingAccount %>
<h2><%= @oba.bank.name %></h2>
<h3>Accounts: </h3>
<ul>
  <% [@checking,@savings].each do |acct|%>
    <% if acct %>
      <li><%=acct.category.upcase%>
        <ul>
          <li>Status: <%=acct.status%></li>
          <li>Account Number: <%=acct.account_number%></li>
          <li>Routing Number: <%=acct.routing_number%></li>
          <li>Balance: <%=acct.balance_to_s%></li>
          <li>Opened On: <%=acct.created_at%></li>
        </ul>
      </li>

    <% end %>
  <% end %>
</ul>

<ul>
  <li>    
    <% if !@checking %>   
       <%= link_to "Open A Checking Account", new_checking_path(@oba.user,@oba)%>
    <% end %>
  </li>
  <li>   
    <% if !@savings %>      
       <%= link_to "Open A Savings Account", new_savings_path(@oba.user,@oba)%>
    <% end %>
  </li>
</ul>

<h3>Loans:</h3>
<ul>
  <% if @loans %>
    <% @loans.each do |loan|%>
      <li><%= loan.category %>        
          <li>Status: <%=loan.status%></li>
          <%= %>
          <% if loan.status.downcase == "closed" %>
            <li>Closed Date: <%=loan.closed_date %></li>
          <% end %>
          <li>Amount: <%=loan.amount%></li>
          <li>Term Length: <%=loan.maturity_months%> months</li>
          <li>Interest Rate: <%=loan.interest_rate %>%</li>
          <li>Opened: <%=loan.created_at%></li>
          <li>Balance: <%=loan.balance_to_s %></li>
        </ul>
      </li>
    <%end%>
  <% end %>
  <% if @checking %>  
    <li><%= link_to "Apply For a New Loan", new_loan_path(session[:user_id],@oba)%></li>
  <% else %>
    <li>You must have a checking account with this bank to open a loan.</li>
  <% end %>
</ul>
 
  