<h2>Signup Page</h2>

<% if @user.errors %>
<ul>
<% @user.errors.full_messages.each do |message| %>
  <%= message %><br>
  <% end %>
  <% end %>
</ul>

<%= form_for @user, url: '/signup', controller: 'users', action: 'create' do |f| %>
  <%= f.label :first_name, "First Name"%>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, "Last Name"%>
  <%= f.text_field :last_name %>
  <%= f.label :username, "username"%>
  <%= f.text_field :username %>
  <%= f.label :password_digest, "Password"%>
  <%= f.password_field :password_digest %>
  <%= f.submit "Signup" %>
<% end %>